*.csv
*.json
*.parquet
*.xlsx

df.json

output.xlsx

df.xlsx

Database/01_bbdd_think_tanks_no_stopwords.parquet

Database/01_bbdd_think_tanks_no_stopwords.xlsx

!Analysis/01_bbdd_think_tanks_no_stopwords.parquet

